<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>{% block title %}{% endblock %}</title>

    <meta name="description" content="Twoje finanse pod pełną kontrolą! PersonalBudget pozwoli w prosty sposób kontrolować Twoje finanse - zoptymalizuje wydatki, zwiększy oszczędności." />
	<meta name="keywords" content="Wydatki, oszczędności, portfel, zarządzanie pieniędzmi, eportfel" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

	<link href="https://fonts.googleapis.com/css2?family=Karma:wght@400;600&display=swap" rel="stylesheet">	
    <link href="{{ asset('css/base/base.css') }}" rel="stylesheet"/>    <link href="{{ asset('fontello/css/fontello.css') }}" rel="stylesheet" type="text/css"/>

</head>
<body>

    {# {% for message in flash_messages %}
        <div>
            {{ message.body }}
        </div>
    {% endfor %} #}

    {% block body %}
    {% endblock %}


    <footer>
        <div class="row">
            <a href="https://www.linkedin.com/in/bartosz-kut-0aa1a3167/" class="col-12 col-sm-8 col-md-5 col-lg-4 linkedin mx-auto mt-4 li">            
                <i class="icon-linkedin icon"></i><h6>https://bit.ly/37G6duy</h6></i>                                     
            </a>
            
            <a href="https://github.com/BartoszKut" class="col-12 col-sm-8 col-md-5 col-lg-4 mx-auto mt-4 gh">              
                <i class="icon-github icon"></i><h6>github.com/BartoszKut</h6></i>
            </a>   

            <div class="col-12 col-sm-8 col-md-5 col-lg-4 mx-auto mt-4 ct">  
                <i class="icon-mail-alt icon"></i><h6>@: bartosz.kut93@gmail.com<br/>m: +48 792 722 230</h6></i>                    
            </div>  
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
	<!--<script src="../../bootstrap-5.0.0-beta2-dist/js/bootstrap.min.js"></script>-->
    <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>

    {% block scripts %}
    {% endblock %}
    
</body>
</html>
